<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Style.css">
    <link rel="stylesheet">
    <title>TP9</title>
</head>

<body class="background">

    <script src = "js\site.js"></script>

    <p>Bienvenido</p>

    <a href='@Url.Action("Index")'>Cerrar Sesión</a>

        
</body>

</html>