<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Style.css">
    <link rel="stylesheet">
    <title>TP9</title>
</head>

<body>
<div class = "contenedor">
    <script src = "js\site.js"></script>

    <form method="post" action = '@Url.Action("VerificarUsuario")'>
    <h2>Iniciar Sesión</h2>
        <h3>UserName: </h3><input type="text" name = "UserName" required><br>
        <h3>Contraseña: </h3><input type="text" name = "Contraseña" required><br><br>
        <input type="submit" value="Subir"><br><br><br>
    </form>
    <a href='@Url.Action("OlvidarContrasena1")'>Olvide mi Contraseña</a><br><br>
    <a href='@Url.Action("Registrar")'>No tengo Cuenta</a><br><br>
</div>
        
</body>

</html>