<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Style.css">
    <link rel="stylesheet">
    <title>TP9</title>
</head>

<body class="background">

    <script src = "js\site.js"></script>

    <form method="post" action = '@Url.Action("VerificarUsuario")'>
        <p>UserName: </p><input type="text" name = "UserName"><br>
        <p>Contraseña: </p><input type="text" name = "Contraseña"><br>
        <input type="submit" value="Subir">
    </form>
    <a href='@Url.Action("OlvidarContrasena1")'>Olvide mi Contraseña</a><br>
    <a href='@Url.Action("Registrar")'>No tengo Cuenta</a>

        
</body>

</html>